<!DOCTYPE html>
<html>
<head>
    <title>404 Error - The page you're looking for doesn't exist</title>
    <link rel="stylesheet" href="/stylesheets/404.css"/>
</head>

<body>
<!-- This file lives in public/404.html -->
<div class="logo">
    <a href="/">
        <img src="/images/logo2.png" alt="PICUBE"  />
    </a>
</div>
<div class="fof">
    <div class="fof-text">
        <h1>404</h1>
        <p>Page Not Found. <a href="/">Head back home.</a>
    </div>
</div>
</body>
</html>