<!--这是拉拉写的目前没用-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<script>-->
        <!--function a() {-->
            <!--alert('a');-->
            <!--alert(data.first_name);-->
        <!--}-->
    <!--</script>-->
</head>
<body>
<p>helloworld!</p>
<!--<button onclick="a()"> try</button>-->
<p><%= res %></p>
</body>
</html>