

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hot Pictures</title>

    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:300,400%7COpen+Sans:400,400i,700%7CLibre+Baskerville:400i' rel='stylesheet'>

    <!-- Css -->

    <link rel="stylesheet" href="/stylesheets/homepage/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/homepage/font-icons.css" />
    <link rel="stylesheet" href="/stylesheets/homepage/sliders.css" />
    <link rel="stylesheet" href="/stylesheets/homepage/style.css" />
    <link rel="stylesheet" href="/stylesheets/homepage/responsive.css" />
    <link rel="stylesheet" href="/stylesheets/homepage/spacings.css" />
    <link rel="stylesheet" href="/stylesheets/homepage/animate.min.css" />
    <link rel="stylesheet" href="/stylesheets/hotpic.css" />

    <script>

        window.onload=function() {
            getHotpics();
        }
        function getHotpics() {
            $.ajax({
                url: 'hotpics/getHotpics',
                type: 'post',
                contentType: "application/json",
                traditional: false,
                async: false,
                success: function (data) {
                    var pic = new Array();
                    var icon = new Array();
                    for(var i = 0;i < data.length;i++){
                        getFirstPics(data[i].recordid,pic,i);
                        getIcon(data[i].createrid,icon,i);

                        $recordVar = $('<div class="m-post m-post-img">' +
                            '                <div class="userinfo">' +
                            '                    <a class="ava" >'+
                            '                        <img src="'+icon[i]+'">' +
                            '                    </a>' +
                            '                    <a class="f-thide nick" href="/userInfo?username='+data[i].createrid+'">'+data[i].createrid+'</a>' +
                            '                </div>' +
                            '                <div class="img">' +
                            '                    <img href="/detailInfo?recordid='+data[i].recordid+'" src="'+pic[i].path+'" >' +
                            '                </div>' +
                            '                <div class="cnt">' +
                            '                    <div class="txt">' +
                            '                        <p>'+data[i].content+'</p>' +
                            '                    </div>' +
                            '                </div>' +
                            '                <div class="act-bar">' +
                            '                </div>' +
                            '            </div>');
                        switch (i%4){
                            case 0:
                                $recordVar.appendTo($('#col0'));
                            break;
                            case 1:
                                $recordVar.appendTo($('#col1'));
                            break;
                            case 2:
                                $recordVar.appendTo($('#col2'));
                            break;
                            case 3:
                                $recordVar.appendTo($('#col3'));
                            break;

                        }
                    }
                },
                error: function(){
                    console.log("关注失败");
                }
            })
        }
        function getFirstPics(val,res,i) {
            $.ajax({
                url: 'upload/headlinepic',
                type: 'get',
                contentType: "application/json",
                traditional: false,
                async: false,
                data:{recordid: val},
                success: function (data) {
                    res[i] = data.pic;
                },
                error: function(){
                    console.log("获取图片失败");
                }
            });
        }
        function getIcon(val,res,i) {
            $.ajax({
                url: 'userInfo/getIcon',
                type: 'get',
                contentType: "application/json",
                traditional: false,
                async: false,
                data:{user: val},
                success: function (data) {
                    res[i] = data.icon;
                },
                error: function(){
                    console.log("获取图片失败");
                }
            });
        }
    </script>
</head>

<body class="relative" STYLE="background-color: #ededef;">

<!-- Preloader -->
<div class="loader-mask">
    <div class="loader">
        <div></div>
        <div></div>
    </div>
</div>

<div class="main-wrapper oh">

    <header class="nav-type-1 dark-nav">

        <!-- Fullscreen search -->
        <div class="search-wrap">
            <div class="search-inner">
                <div class="search-cell">
                    <form method="get" action="/search">
                        <div class="search-field-holder">
                            <input type="search" class="form-control main-search-input" placeholder="Search for" name="tag">
                            <div class="search-submit-icon"><i class="icon icon_search"></i></div>
                            <input type="submit" class="search-submit" value="search">
                        </div>
                    </form>
                </div>
            </div>
            <i class="icon icon_close search-close" id="search-close"></i>
        </div> <!-- end fullscreen search -->

        <nav class="navbar navbar-fixed-top">
            <div class="navigation">
                <div class="container relative">

                    <div class="row">

                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div> <!-- end navbar-header -->


                        <!-- side menu -->
                        <div class="side-menu nav-left hidden-sm hidden-xs">
                            <!--<img src="/images/logo.png">-->
                            <div class="nav-inner">
                                <!--搜索框-->
                                <div class="nav-search-wrap hidden-sm hidden-xs">
                                    <a href="#" class="nav-search search-trigger">
                                        <i class="icon icon_search"></i>
                                    </a>
                                </div>
                            </div>
                        </div> <!-- end side menu -->

                        <div class="col-md-12 nav-wrap">
                            <div class="collapse navbar-collapse text-center" id="navbar-collapse">

                                <ul class="nav navbar-nav">

                                    <li><a href="/homepage">首页</a></li>
                                    <li><a href="/hotpics">图片</a></li>
                                    <li><a href="">视频</a></li>
                                    <li><a href="">其他</a></li>

                                    <li id="mobile-search" class="hidden-lg hidden-md">
                                        <form method="get" class="mobile-search">
                                            <input type="search" class="form-control" placeholder="Search...">
                                            <button type="submit" class="search-button">
                                                <i class="icon icon_search"></i>
                                            </button>
                                        </form>
                                    </li>

                                </ul> <!-- end menu -->
                            </div> <!-- end collapse -->
                        </div> <!-- end col -->

                        <!-- side menu -->
                        <div class="side-menu right mobile-left-align">
                            <div class="nav-inner menu-socials social-icons">
                                <div class="right">
                                    <a href="#"><%- user%></a>
                                    <a href="/user/logout">注销</a>
                                </div>
                            </div>
                        </div> <!-- end side menu -->

                    </div> <!-- end row -->
                </div> <!-- end container -->
            </div> <!-- end navigation -->
        </nav> <!-- end navbar -->
    </header>
    <div id="masonry-Wrap" class="f-clearfix masonryWrap" style="width: 1280px;">
        <div class="col col0" id="col0">
        </div>
        <div class="col col1" id="col1">
        </div>
        <div class="col col2" id="col2">
        </div>
        <div class="col col3" id="col3">
        </div>
    </div>
    <!-- Footer Type-1 -->
    <footer class="footer footer-type-1 bg-dark">
        <div class="bottom-footer" style="max-height: 0px;padding: 0 0;">
            <div class="container">
                <div class="row">

                    <div class="col-sm-12 copyright text-center">
                <span>
                  Copyright &copy; 2017.PiCUBE All rights reserved.
                </span>
                    </div>

                </div>
            </div>
        </div>

    </footer> <!-- end footer -->


</div> <!-- end content wrapper -->
</div> <!-- end main wrapper -->

<!-- jQuery Scripts -->
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/jquery.min.js"></script>

<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/plugins.js"></script>
<!--<script type="text/javascript" src="/javascripts/twitterFetcher_min.js"></script>-->
<script type="text/javascript" src="/javascripts/scripts.js"></script>
<script type="text/javascript" src="/javascripts/webuploader.min.js"></script>
<script type="text/javascript" src="/javascripts/webuploader.js"></script>
<script type="text/javascript" src="/javascripts/cropbox.js"></script>
<!-- Instafeed -->
<script type="text/javascript">
    $(window).load(function() {

        var InstafeedRow = new Instafeed({
            target: 'instafeed-row',
            get: 'user',
            userId: '3562688430',
            accessToken: '3562688430.ceddd6d.c54fa5142fa847f89827e5cf9b19d885',
            resolution: 'low_resolution',
            limit: '6',
            template: '<li class="instagram-item"><a target="_blank" href="{{link}}"><img class="instagram-img" alt="Instagram Image" src="{{image}}"></a></li>'
        });

        var InstafeedGrid = new Instafeed({
            target: 'instafeed-grid',
            get: 'user',
            userId: '3562688430',
            accessToken: '3562688430.ceddd6d.c54fa5142fa847f89827e5cf9b19d885',
            resolution: 'low_resolution',
            limit: '9',
            template: '<li class="instagram-item"><a target="_blank" href="{{link}}"><img class="instagram-img" alt="Instagram Image" src="{{image}}"></a></li>'
        });

        InstafeedRow.run();
        InstafeedGrid.run();

    });
</script>


</body>
</html>
